.products_list {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 30px;
  font-family: "JetBrains Mono", serif;
}

.product {
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;

  & > img {
    height: auto;
  }

  & > div {
    margin: 1rem 2rem;
  }
}

.product_title {
  font-size: 20px;
}