.create_product {
  background-color: white;
  width: 600px;
  height: 600px;
  display: flex;
  gap: 0.5rem;
}

.selection {
  display: inline;
}

input {
  background-color: #fff;
  box-shadow: #dcdcdc 0 1px 20px;
}