.auth {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10rem 0;

  & > form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    & > input {
      background: none;
      outline: none;
      border-bottom: 2.5px #b6b4b4 inset;
      transition: ease 0.5s;
    }

    & > input:hover, input:active {
      border-bottom: 2.5px #727070 inset;
    }

    & > button {
      width: 60%;
      cursor: pointer;
      background-color: var(--btn_color);
      border-radius: 25px;
      transition: ease 0.1s;
    }

    & > button:active {
      background-color: var(--btn_click_color);
    }

    & > div {
      font-size: 15px;
      & > a {
        font-family: "JetBrains Mono ExtraBold", serif;
        color: var(--font_link_color);
      }

      & > a:hover {
        text-decoration: underline;
      }
    }
  }
}