:root{
  --bg_color: rgb(255, 242, 237);
  --header_bg_color: rgb(250, 204, 184);
  --font_color: rgb(100, 22, 22);
  --font_link_color: rgb(79, 9, 9);
  --btn_color: rgb(250, 204, 184);
  --btn_click_color: rgb(255, 193, 166);
}