@import "reset";
@import "colors";

body {
  margin: 0;
  background-color: var(--bg_color);
  font-family: "JetBrains Mono", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container {
  margin: 0 auto;
  width: 85%;
}

.content {
  min-height: calc(100vh - 101px - 48px);
  padding: 1.5rem 0;
}